@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Sacramento');

body {
    background-color: #f5fffe;
    font-family: Arial, sans-serif;
    color: darkslategray;
    margin: 10px;
    padding: 10;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    display: inline;
    padding: 20px;
    margin: auto;
    font-family: 'Sacramento', cursive;
    color:cornflowerblue;
    font-size: 48px;
}

h2 {
    position: relative;
    padding: 0.6em;
    background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
    border-radius: 7px;
    text-align: center;
    margin: auto;
    font-family: 'Sacramento', cursive;
    color: darkslategray;
    font-size: xx-large;
  }
  
  h2:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #ffebbe;
    width: 0;
    height: 0;
  }

h3 {
    position: relative;
    color: #333;
    display: inline-block;
    margin: auto 50px 50px;
    text-align: center;
    text-shadow: 0 0 2px white;
  }

    h3:before {
        content: "";
        position: absolute;
        background: #a9e1ff;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        top: 50%;
        border: dashed 1px white;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        z-index: -1;
        box-shadow: 0px 0px 0px 5px #a9e1ff;
    }

h4 {
    text-align: left;
    font-size: x-large;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff5252;
    border-radius: 3px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 20px;
    font-size: larger;
}

button:hover {
    background-color: #e04040;
}

.container {
    margin: auto;
    margin-top: 30px;
    padding: 30px;
    box-sizing: border-box;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-gap: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: dashed 1px burlywood;
}

label {
    display: inline-block;
    width: 170px;
    text-align: center;
}

img {
    height: 240px;
}
#girl {
    float: left;
    height: 500px;
    margin-top: 30px;
    padding: 20px;
}

.containerResult {
    margin: auto;
    margin-top: 30px;
    margin-left: 20px;
    padding: 30px;
    box-sizing: border-box;
    width: 70%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: dashed 1px burlywood;
    display: inline-block;
}

ul {
    list-style: none;
    display: flexbox;
}

li {
    margin: auto;
    margin-bottom: 10px;
    height: 50px;
    text-align:center;    
    background-color: #fff5df;
    padding: 10px;
    box-sizing: border-box;
    font-size: larger;
}

#home {
    clear: both;
    margin: auto;
    padding: 20px;
    text-align: center;
    display: block;
}
footer{
    clear: both;
    font-size: small;
    text-align: right;
}